<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | News Reader</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="//fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
  <%= stylesheet_link_tag "application", media: "all" %>

  <!--[if lt IE 9]>
        <%= javascript_include_tag "html5shiv" %>
        <%= javascript_include_tag "respond" %>
    <![endif]-->

  <!--[if IE 7]>
        <%= stylesheet_link_tag "ie7" %>
    <![endif]-->

  <%= yield :styles %>
  <%= csrf_meta_tags %>
</head>
<body class="body-<%= controller_name %>">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="<%= root_path %>" class="brand"><i class="icon-rss"></i> News Reader</a>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav pull-right">
          <li><a href="<%= news_index_path %>"><i class="icon-rss"></i> News</a></li>
          <li><a href="<%= edit_user_registration_path %>"><i class="icon-user"></i> Account</a></li>
          <li><a href="#"><i class="icon-question-sign"></i> Help</a></li>
          <li><a href="<%= destroy_user_session_path %>" data-method="delete"><i class="icon-signout"></i> Logout</a>
          </li>
        </ul>
      <% else %>
        <div class="pull-right">
          <a class="btn btn-inverse" href="<%= new_user_session_path %>"><i class="icon-lock"></i> Sign In</a>
          <a class="btn btn-success" href="<%= new_user_registration_path %>"><i class="icon-check"></i> Sign Up</a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= yield %>

<div class="footer">
  <div class="container">
    <ul class="footer-nav inline text-center">
      <li><a href="#">Help &amp; Support</a></li>
      <li><a href="#">Privacy &amp; Security</a></li>
      <li><a href="#">Terms of Use</a></li>
    </ul>
    <ul class="footer-nav inline text-center">
      <li><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
      <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="icon-youtube"></i></a></li>
    </ul>
    <ul class="footer-nav inline text-center">
      <li>&copy; <%= Time.now.year %> News Reader</li>
    </ul>
  </div>
</div>

<%= javascript_include_tag "application" %>
<%= yield :scripts %>
<%= flash_messages %>
</body>
</html>
